<div>
    <div>
        <div class="form-group">
            <label for="username">Namn:</label>
            <input id="username" type="text" class="form-control" ng-model="ChatIndexCtrl.name" />
        </div>
        <div class="form-group">
            <label for="subject">Ämne:</label>
            <input id="subject" type="text" class="form-control" ng-model="ChatIndexCtrl.subject" />
            <input type="button" class="btn btn-success" value="Anslut" ng-click="ChatIndexCtrl.createRoom()" />
            <input type="button" class="btn btn-danger pull-left" value="Lämna" ng-click="ChatIndexCtrl.disconnect()" />
        </div>

        <div id="chat" class="ng-hide" ng-show="ChatIndexCtrl.isInChat">
            <div style="height: 200px; border: 1px dotted black; border-radius: 5px; overflow-y: scroll" scroll-glue>
                <div>
                    <div ng-repeat="chat in ChatIndexCtrl.messages track by $index">
                        <span ng-bind="chat"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Meddelande:</label>
                <input id="message" type="text" class="form-control" ng-model="ChatIndexCtrl.message" />
                <input type="button" class="btn btn-success" value="Send" ng-click="ChatIndexCtrl.newMessage()" />
            </div>
        </div>
        
        <div id="currentRooms">
            <div>
                <div ng-repeat="room in ChatIndexCtrl.rooms">
                    <div ng-bind="room" ng-click="ChatIndexCtrl.joinRoomFromList(room)"></div>
                </div>
            </div>
        </div>

    </div>
</div>