<div class="row">
    <div class="col-md-12">
          
            <div class="lastTrip">
                <div class="col-md-6">
                    <h2>Pågående resa</h2>
                    <hr>
                    <p>{{TripDetailsCtrl.details.Vehicle.RegistrationNumber}} - {{TripDetailsCtrl.details.DateTime}}</p>

                    <button class="btn btn-primary" ng-click="TripDetailsCtrl.toggleShowAll()">Visa</button>

                    <dl ng-if="TripDetailsCtrl.showAll">
                        <dt>Fordon</dt>
                        <dd>{{TripDetailsCtrl.details.Vehicle.RegistrationNumber}}</dd>
                        <dt>Datum</dt>
                        <dd>{{TripDetailsCtrl.details.DateTime}}</dd>
                        <dt>Startmil</dt>
                        <dd>{{TripDetailsCtrl.details.StartMilage}}</dd>
                        <dt>Mätarställare ankomst</dt>
                        <dd>{{TripDetailsCtrl.details.ArrivalMilage}}</dd>
                        <dt>Startadress</dt>
                        <dd>{{TripDetailsCtrl.details.StartAddress}}</dd>
                        <dt>Destination</dt>
                        <dd>{{TripDetailsCtrl.details.ArrivalAddress}}</dd>
                        <dt>Ärende</dt>
                        <dd>{{TripDetailsCtrl.details.Errand}}</dd>
                        <dt>Noteringar</dt>
                        <dd>{{TripDetailsCtrl.details.Notes}}</dd>
                        <dt>Id</dt>
                        <dd>{{TripDetailsCtrl.details.Id}}</dd>
                    </dl>
                </div>
        </div>
        <div class="col-md-6">
            <h2>Ändra/Avsluta</h2>
            <hr><br>

            <form ng-submit="TripDetailsCtrl.edit()" validate>

                <div class="form-group">
                    <label for="arrivalMilage">Stopp mätarställning</label>
                    <input type="number" class="form-control" id="arrivalMilage" placeholder="{{TripDetailsCtrl.details.ArrivalMilage}}" ng-model="TripDetailsCtrl.trip.ArrivalMilage" required>
                </div>

                <a href="#!/trips" class="btn btn-default">Tillbaka</a>
                <button type="submit" class="btn btn-success">Spara</button>
            </form>
        </div>
    </div>
</div>
