<div class="row">
    <div class="col-md-4">
        <h1>Skapa resa</h1>
        <hr><br>
        <form ng-submit="TripRegisterCtrl.register()" validate>
            <div class="form-group">
                <label for="vehicle">Välj fordon</label>
                <select class="form-control" id="vehicle" name="vehicle" ng-selected="TripRegisterCtrl.trip.Vehicle.Id = TripRegisterCtrl.favorite.Id" ng-init="TripRegisterCtrl.vehicles()" ng-model="TripRegisterCtrl.trip.Vehicle.Id" ng-options="item.Id as item.RegistrationNumber for item in TripRegisterCtrl.vehicles" ng-change="TripRegisterCtrl.update()">
                    <option value="">Välj fordon...</option>
                </select>
            </div>

            <div class="form-group">
                <label for="startMilage">Datum</label>
                <input type="date" class="form-control" id="dateTime" placeholder="Datum" ng-model="TripRegisterCtrl.trip.DateTime">
            </div>
            <div class="form-group">
                <label for="startMilage">Start mätarställning</label>
                <input type="number" class="form-control" id="startMilage" placeholder="Mätarställning Start" ng-model="TripRegisterCtrl.trip.StartMilage" required>
            </div>
           
            <div class="form-group">
                <label for="startAddress">Utgångsadress</label>
                <div class="input-group">
                    <span class="input-group-addon" ng-click="TripRegisterCtrl.getLocation()" title="Klicka för att hämta din position!"><i class="glyphicon glyphicon-map-marker"></i></span>
                    <input type="text" class="form-control" id="startAddress" placeholder="Utgångsadress" ng-model="TripRegisterCtrl.trip.StartAddress" required>
                </div>
            </div>
            <div class="form-group">
                <label for="arrivalAddress">slutadress</label>
                <input type="text" class="form-control" id="arrivalAddress" placeholder="Registreringsnummer" ng-model="TripRegisterCtrl.trip.ArrivalAddress" required>
            </div>
            <div class="form-group">
                <label for="errand">Ärende</label>
                <input type="text" class="form-control" id="errand" placeholder="Registreringsnummer" ng-model="TripRegisterCtrl.trip.Errand" required>
            </div>
            <div class="form-group">
                <label for="notes">Notes</label>
                <input type="text" class="form-control" id="notes" placeholder="Registreringsnummer" ng-model="TripRegisterCtrl.trip.Notes" required>
            </div>

            <button type="submit" class="btn btn-default">Spara</button>
        </form>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdExxOLmzBawPEkyyUelA4t0f1e73iIbU&callback=angular.noop">
</script>