<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>Skapa PDF</h2>
            <hr>
            <form ng-submit="TripPDFReportCtrl.pdfReport()" validate>
                <div class="form-group">
                    <label for="vehicle">Välj fordon</label>
                    <select class="form-control" id="vehicle" name="vehicle" ng-init="TripPDFReportCtrl.vehicles()" ng-model="TripPDFReportCtrl.queryObj.Id" ng-options="item.Id as item.RegistrationNumber for item in TripPDFReportCtrl.vehicles">
                        <option value="">Välj fordon...</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="firstdate">Från:</label>
                    <input type="date" class="form-control" id="firstdate" placeholder="Datum" ng-model="TripPDFReportCtrl.queryObj.FirstDate">
                </div>

                <div class="form-group">
                    <label for="lastDate">Till:</label>
                    <input type="date" class="form-control" id="lastDate" placeholder="Datum" ng-model="TripPDFReportCtrl.queryObj.LastDate">
                </div>
                <a href="#!/trips" class="btn btn-default">Tillbaka</a>
                <button type="submit" class="btn btn-success">Skapa PDF</button>
            </form>
            <!--PDFURL-->
            <div style="padding-top: 10px" ng-if="TripPDFReportCtrl.report">
                <span style="color: forestgreen">PDF Skapad!</span><br />
                <a href="{{TripPDFReportCtrl.report}}" target="_blank">Klicka här för att ladda ner!</a>
            </div>
        </div>
        
    </div>  
</div>
